<section class="admin-control-wrapper dashed-repeating-gradient">
    <div class="page-wrapper">
        <div class="control-panel__buttons">
            <button class="admin-control__button" (click)="openPopupAdd()">Add University Admin</button>
        </div>
    </div>
</section>
<section class="admin-info">
    <div class="admin-info__titles-wrapper dashed-repeating-gradient">
        <div class="page-wrapper">
            <div class="example-container">
                <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'desc': direction === 'desc'}"
                                         class="adID__title">
                            Admin ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adID__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            {{element.Id}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'desc': direction === 'desc'}"
                                         class="adName__title">
                            Name / Position
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adName__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            {{element.NameEnglish}} {{element.SurnameEnglish}}
                            <br>/ {{element.Position}} /
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Contact">
                        <mat-header-cell *matHeaderCellDef class="adCont__title">Contacts</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adCont__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            <span class="align-flex-start">
                                {{element.PhoneWork}} <br>
                                {{element.PhoneMobile}} (mob) <br>
                                <a href="mailto:{{element.Email}}" class="maincolored pointer span-bordered">
                                    {{element.Email}}
                                </a>
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Cabinet">
                        <mat-header-cell *matHeaderCellDef class="adCab__title">Cabinet</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adCab__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            {{element.CabinetLocation}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Trade">
                        <mat-header-cell *matHeaderCellDef class="adTradeinput__title">Trade union committee
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adTradeinput__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            <input type="checkbox" name="isActive" class="terms-checkbox" id="tradeinput{{element.Id}}"
                                   [checked]="element.TradeUnionCommittee" disabled/>
                            <label for="tradeinput{{element.Id}}" class="align-flex-start">
                                <span></span>
                            </label>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Date">
                        <mat-header-cell *matHeaderCellDef class="adBirthdate__title">Date of Birth</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adBirthdate__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            <span class="align-flex-start">
                               {{element.Birthday | dateMoment}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Notes">
                        <mat-header-cell *matHeaderCellDef class="adNotes__title">Notes</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adNotes__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            <span class="align-flex-start">
                               {{element.Commentary}}
                           </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Approved">
                        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'desc': direction === 'desc'}"
                                         class="adApproved__title">
                            Approved
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="adApproved__title"
                                  [ngClass]="{'disabled': !element.Approved && !element.TradeUnionCommittee}">
                            <input type="checkbox" name="isActive" class="terms-checkbox" id="approved{{element.Id}}"
                                   [checked]="element.Approved" disabled/>
                            <label for="approved{{element.Id}}" class="align-flex-start">
                                <span class="mright-0"></span>
                            </label>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="align-text-right adAction"
                                         [ngClass]="{'desc': direction === 'desc'}">
                            Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="maincolored span-action align-text-right adAction"
                                  (click)="edit(element.Id)">
                            <span class="align-text-right span-bordered pointer maincolored">Edit</span>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"
                                    class="dashed-repeating-gradient"></mat-header-row>
                    <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="!dataBase.data.length" class="upload-spiner-container">
                    <mat-spinner class="upload-spinner"></mat-spinner>
                </div>
            </div>
        </div>
    </div>

    <!-- Pager -->
    <my-page [pages]="dataBase.page"
             [pageSize]="pageSize"
             (changePage)="setPage($event)">
    </my-page>
</section>
