.admin-control-wrapper {
    padding: 15px 0;
}

.admin-control__button {
    display: block;
    margin-left: auto;
    cursor: pointer;
    transition: 0.2s;
    color: #666666;
    padding: 20px 40px;
    background-color: #e7e7e7;
    font-size: 22px;
    border-radius: 35px;
    border: none;
}

.admin-control__button:hover {
    background-color: #28baf1;
    color: white;
}

.admin-info {
    font-size: 14px;
}

.admin-info__titles__inner {
    display: flex;
    justify-content: space-between;
    color: #333333;
    font-weight: 500;
    padding: 25px 0;
}

.admin-info__items__inner {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 25px 0;
    color: #666666;
}

.email-field-colored {
    color: #3399cc;
}

.adID__title {
    display: flex;
    align-items: center;
    flex-basis: 10%;
}

.adName__title {
    display: flex;
    align-items: center;
    flex-basis: 13%;
}

.adCont__title {
    display: flex;
    align-items: center;
    flex-basis: 17%;
}

.adCab__title {
    display: flex;
    align-items: center;
    flex-basis: 17%;
    padding-right: 30px;
}

.adTradeinput__title {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 0;
    flex-basis: 8%;
}

.adBirthdate__title {
    display: flex;
    align-items: center;
    padding-right: 15px;
    flex-basis: 8%;
}

.adNotes__title {
    display: flex;
    align-items: center;
    flex-basis: 15%;
    padding-right: 15px;
}

.adApproved__title {
    display: flex;
    align-items: center;
    flex-basis: 7.5%;
    padding-right: 15px;
}

.adAction {
    flex-basis: 4%;
}

.align-flex-start {
    align-self: flex-start;
}

.mleft-auto {
    margin-left: auto;
}

.mright-0 {
    margin-right: 0 !important;
}

.background-rates-icon {
    background: url('../../../../assets/images/rates-icon.png') right top no-repeat;
}

mat-cell.disabled {
    background-color: transparent !important;
    opacity: 0.502;
}

.sort-icon {
    position: relative;
}

.sort-icon::after {
    position: absolute;
    content: "";
    top: 3px;
    cursor: pointer;
    right: -20px;
    background: url('../../../../assets/images/select-dropdown.png') no-repeat center 50%/50%;
    width: 15px;
    height: 9px;
}

.adApproved__title {
    justify-content: flex-end;
}
