<form class="login-rejected-popup">
    <div class="login-rejected-popup__top dashed-repeating-gradient">
        <div class="login-rejected-popup__title maincolored">
            Вход в систему
        </div>
        <div class="alert-block-wrapper">
            <div [class.green-alert]="stepNumber==maxStep" [class.orange-alert]="stepNumber!=maxStep"></div>
        </div>
    </div>
    <div class="login-rejected-popup__whisp login-rejected-popup__inner dashed-repeating-gradient"
         [style.display]="[2,3,4].includes(stepNumber) ? 'block':'none'">
        <p [style.display]="stepNumber==2?'initial':'none'">Пожалуйста, введите свой Email, на который будет выслан код
            для сброса пароля</p>
        <p [style.display]="stepNumber==3?'initial':'none'">Пожалуйста, введите код подтверждения, который был выслан
            Вам на email</p>
        <p [style.display]="stepNumber==4?'initial':'none'">Пожалуйста, введите новый пароль и подтвердите его</p>
    </div>
    <div class="login-rejected-popup__info" [hidden]="stepNumber!=1 && !errorMessage && !successfullyChangedPassword"
         [ngSwitch]="stepNumber" [class.background-green]="stepNumber==maxStep">
        <div *ngSwitchCase="1">
            <p class="redcolored-pad">Не удается войти</p>
            <p class="login-rejected-popup__info__p">Пожалуйста, проверьте правильность написания <span
                    class="regular-black">логина</span> и <span class="regular-black">пароля</span>.</p>
            <p class="login-rejected-popup__info__p li-styled">Возможно, нажата клавиша CAPS-lock?</p>
            <p class="login-rejected-popup__info__p li-styled">Может быть, у Вас включена неправильная раскладка?</p>
            <p class="login-rejected-popup__info__p li-styled">Попробуйте набрать свой пароль в текстовом редакторе и
                скопировать в графу "Пароль"</p>
            <p class="login-rejected-popup__info__p">Если Вы все внимательно проверили, но войти все равно не удается,
                Вы можете <span (click)="nextStep()" class="maincolored pointer">нажать сюда</span>.</p>
        </div>
        <div *ngSwitchCase="2">
            <p class="redcolored-pad pad-0">{{errorMessage}}</p>
        </div>
        <div *ngSwitchCase="3">
            <p class="redcolored-pad pad-0">{{errorMessage}}</p>
        </div>
        <div *ngSwitchCase="4">
            <p class="redcolored-pad pad-0">{{errorMessage}}</p>
        </div>
        <div *ngSwitchCase="5">
            <p class="regular-black login-rejected-popup__info__p">Пароль успешно обновлен</p>
            <p class="login-rejected-popup__info__p">Вы можете войти в систему с новым паролем</p>
        </div>
    </div>
    <div class="login-rejected-popup__inner dashed-repeating-gradient">
        <form #form="ngForm">
            <div class="login-rejected-popup__userinfo" [style.display]="stepNumber==1 || stepNumber==5? 'flex':'none'">
                <div class="user-title__wrapper">
                    <label for="userID" class="login-rejected-label">
                        User ID:
                        <span class="div-tooltip"
                              matTooltip="User id"
                              [matTooltipPosition]="'after'"></span>
                    </label>
                </div>
                <input id="userID" name="UserId" class="login-rejected-input" #UserId="ngModel"
                       [(ngModel)]="model.UserId" required/>
            </div>
            <div class="login-rejected-popup__userinfo password-field"
                 [style.display]="stepNumber==1 || stepNumber==5? 'flex':'none'">
                <div class="user-title__wrapper">
                    <label for="companyID" class=" login-rejected-label">
                        Password:
                        <span class="div-tooltip"
                              matTooltip="Password"
                              [matTooltipPosition]="'after'"></span>
                    </label>
                </div>
                <input name="Password" #Password="ngModel" type="password" id="companyID" class="login-rejected-input"
                       [(ngModel)]="model.Password" required/>
            </div>
        </form>
        <div class="login-rejected-popup__userinfo email-field"
             [style.display]="stepNumber==2 || stepNumber==4? 'flex':'none'">
            <div class="user-title__wrapper">
                <label for="email" class="login-rejected-label">Email:</label>
            </div>
            <input id="email" class="login-rejected-input" [(ngModel)]="dataForPosting.Email" required #name="ngModel"
                   name="email"/>
        </div>
        <div class="login-rejected-popup__userinfo confirmcode-field" [style.display]="stepNumber==3? 'flex':'none'">
            <div class="user-title__wrapper">
                <label for="code" class="login-rejected-label">Confirmation code:</label>
            </div>
            <input id="code" class="login-rejected-input" required [(ngModel)]="dataForPosting.Code" #code="ngModel"
                   name="code"/>
        </div>
        <div class="login-rejected-popup__userinfo newpassword-field" [style.display]="stepNumber==4? 'flex':'none'">
            <div class="user-title__wrapper">
                <label for="newpassword" class="login-rejected-label">New Password:</label>
            </div>
            <input type="password" id="newpassword" class="login-rejected-input" [(ngModel)]="dataForPosting.Password"
                   #newpassword="ngModel" name="newpassword" required/>
        </div>
        <div class="login-rejected-popup__userinfo confirmpassword-field"
             [style.display]="stepNumber==4? 'flex':'none'">
            <div class="user-title__wrapper">
                <label for="confirmpasswordfield" class="login-rejected-label">Confirm Password:</label>
            </div>
            <input type="password" id="confirmpasswordfield" class="login-rejected-input"
                   [(ngModel)]="dataForPosting.ConfirmPassword" #confirmpasswordfield="ngModel"
                   name="confirmpasswordfield"
                   [ngClass]="{'has-error': confirmpasswordfield.invalid && (confirmpasswordfield.touched || confirmpasswordfield.dirty)}"
                   required validateEqual="newpassword"/>
            <div *ngIf="confirmpasswordfield.invalid && (confirmpasswordfield.touched || confirmpasswordfield.dirty)"
                 class="form-danger">Password mismatch.
            </div>
        </div>
    </div>

    <div class="login-rejected-popup__inner">
        <div class="login-rejected-popup__buttons">
            <span class="maincolored forgot-password-styled pointer" (click)="nextStep()"
                  [style.display]="stepNumber==1 || stepNumber==5? 'initial':'none'">Forgot Password?</span>
            <div class="buttons__wrapper">
                <button type="submit" (click)="login()" type="button" class="login-rejected-popup__button button-grey"
                        [style.display]="stepNumber==1 || stepNumber==5? 'initial':'none'">Sign In
                </button>
                <button (click)="closePopup()" type="button" class="login-rejected-popup__button button-maincolor "
                        [style.display]="stepNumber==1 || stepNumber==5? 'initial':'none'" [routerLink]="['/register']">
                    Sign Up
                </button>
                <button type="button" class="login-rejected-popup__button button-maincolor "
                        [style.display]="stepNumber==2? 'block':'none'" (click)="nextStep()">Restore Password
                </button>
                <button type="button" class="login-rejected-popup__button button-maincolor "
                        [style.display]="stepNumber==3? 'block':'none'" (click)="nextStep()">Confirm
                </button>
                <button type="button" class="login-rejected-popup__button button-maincolor"
                        [style.display]="stepNumber==4? 'block':'none'" (click)="nextStep()"
                        [disabled]="dataForPosting.Password != dataForPosting.ConfirmPassword || !dataForPosting.Password"
                        [ngClass]="{'disabled': dataForPosting.Password != dataForPosting.ConfirmPassword || !dataForPosting.Password}">
                    Update Password
                </button>
                <mat-spinner class="upload-spinner" *ngIf="isSpinner"></mat-spinner>
            </div>
        </div>
    </div>
</form>