<form class="menu-block" (ngSubmit)="form.form.valid && login()" #form="ngForm" novalidate>
    <input type="text" placeholder="Login" class="login__login" name="UserId" [(ngModel)]="model.UserId"
           #UserId="ngModel"
           [ngClass]="{'has-error': UserId.invalid && (form.submitted || UserId.touched || UserId.dirty)}" required/>
    <input type="password" placeholder="Password" class="login__login" name="Password" [(ngModel)]="model.Password"
           #Password="ngModel"
           [ngClass]="{'has-error': Password.invalid && (form.submitted || Password.touched || Password.dirty)}" required/>
    <button class="menu-link" id="login-link" type="submit">
        Log In
    </button>
</form>