<div class="page-wrapper">
    <form class="registration-block" #form="ngForm" novalidate
          (ngSubmit)="form.form.valid && register()">
        <div class="registration-block__left">
            <div class="registration-block__left__field">
                <div class="registration-block__field__title add-info">
                    <label for="userId" class="inner-title required-field">
                        Personal ID:
                        <span class="div-tooltip"
                              matTooltip="Personal ID is required (minimum 9 characters). Numbers only."
                              [matTooltipPosition]="'after'"></span>
                    </label>
                </div>
                <input id="userId" class="registration-block__field__input" name="UserId" [(ngModel)]="model.UserId"
                       #UserId="ngModel" minlength="9" pattern="\d*" autocomplete="new-userId"
                       [ngClass]="{'has-error': UserId.invalid && (form.submitted || UserId.touched || UserId.dirty)}"
                       required/>
                <div *ngIf="UserId.invalid && (form.submitted || UserId.touched || UserId.dirty)"
                     class="form-danger">
                    Personal ID is required (minimum 9 characters). Numbers only.
                </div>
            </div>
            <div class="registration-block__left__field top-spacing">
                <div class="registration-block__field__title">
                    <label for="Password" class="inner-title required-field">Password:</label>
                </div>
                <input id="Password" type="password" class="registration-block__field__input" name="Password"
                       [ngClass]="{'has-error': Password.invalid && (form.submitted || Password.touched || Password.dirty)}"
                       validateEqual="confirmPassword" reverse="true"
                       [(ngModel)]="model.Password" #Password="ngModel" required autocomplete="nope"/>
                <div *ngIf="Password.invalid && (form.submitted || Password.touched || Password.dirty)"
                     class="form-danger">Password is required.
                </div>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="confirmPassword" class="inner-title required-field">Confirm Password:</label>
                </div>
                <input id="confirmPassword" type="password" class="registration-block__field__input"
                       [ngModel]="model.confirmPassword"
                       [ngClass]="{'has-error': confirmPassword.invalid && (form.submitted || confirmPassword.touched || confirmPassword.dirty)}"
                       validateEqual="Password" reverse="false"
                       #confirmPassword="ngModel" name="confirmPassword"/>
                <div *ngIf="confirmPassword.invalid && (form.submitted || confirmPassword.touched || confirmPassword.dirty)"
                     class="form-danger">Password mismatch.
                </div>
            </div>
            <div class="registration-block__left__field top-spacing">
                <div class="registration-block__field__title">
                    <label for="nameHebrew" class="inner-title required-field">שֵׁם</label>
                </div>
                <input id="nameHebrew" class="registration-block__field__input" type="text"
                       [ngClass]="{'has-error': NameHebrew.invalid && (form.submitted || NameHebrew.touched)}"
                       [(ngModel)]="model.NameHebrew" #NameHebrew="ngModel" name="NameHebrew" required/>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="name" class="inner-title">Name:</label>
                </div>
                <input id="name" class="registration-block__field__input" [(ngModel)]="model.Name" name="Name"
                       type="text"/>
            </div>
            <div class="registration-block__left__field top-spacing">
                <div class="registration-block__field__title">
                    <label for="SurnameHebrew" class="inner-title required-field">שם משפחה</label>
                </div>
                <input id="SurnameHebrew" class="registration-block__field__input" type="text"
                       [ngClass]="{'has-error': SurnameHebrew.invalid && (form.submitted || SurnameHebrew.touched)}"
                       [(ngModel)]="model.SurnameHebrew" #SurnameHebrew="ngModel" name="SurnameHebrew" required/>
            </div>
            <div class="registration-block__left__field bottom-spacing">
                <div class="registration-block__field__title">
                    <label for="SurnameEnglish" class="inner-title">Surname:</label>
                </div>
                <input id="SurnameEnglish" class="registration-block__field__input" type="text"
                       [(ngModel)]="model.SurnameEnglish" #SurnameEnglish="ngModel" name="SurnameEnglish"/>
            </div>
        </div>
        <div class="registration-block__right">
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="phoneMobile" class="inner-title required-field">Mobile Phone:</label>
                </div>
                <input id="phoneMobile" class="registration-block__field__input" [(ngModel)]="model.PhoneMobile"
                       [ngClass]="{ 'has-error': PhoneMobile.invalid && (form.submitted || PhoneMobile.touched || PhoneMobile.dirty)}"
                       #PhoneMobile="ngModel" name="PhoneMobile" pattern="[+,\-,0-9]+" required/>
                <div *ngIf="PhoneMobile.invalid && (form.submitted || PhoneMobile.touched || PhoneMobile.dirty)"
                     class="form-danger">Mobile Phone is required. Numbers only.
                </div>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="phoneHome" class="inner-title">Home Phone:</label>
                </div>
                <input id="phoneHome" class="registration-block__field__input" [(ngModel)]="model.PhoneHome"
                       pattern="[+,\-,0-9]+" #PhoneHome="ngModel" name="PhoneHome"/>
                <div *ngIf="PhoneHome.invalid && (form.submitted || PhoneHome.touched || PhoneHome.dirty)"
                     class="form-danger">Home Phone is incorrectly. Numbers only.
                </div>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="phoneWork" class="inner-title">Work Phone:</label>
                </div>
                <input id="phoneWork" class="registration-block__field__input" [(ngModel)]="model.PhoneWork"
                       pattern="[+,\-,0-9]+" #PhoneWork="ngModel" name="PhoneWork"/>
                <div *ngIf="PhoneWork.invalid && (form.submitted || PhoneWork.touched || PhoneWork.dirty)"
                     class="form-danger">Mobile Phone is incorrectly. Numbers only.
                </div>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="email" class="inner-title required-field">Email:</label>
                </div>
                <input id="email" type="email" [email]="true"
                       class="registration-block__field__input" [(ngModel)]="model.Email"
                       [ngClass]="{ 'has-error': Email.invalid && (form.submitted || Email.touched || Email.dirty)}"
                       #Email="ngModel" name="Email" required/>
                <div *ngIf="Email.invalid && (form.submitted || Email.touched || Email.dirty)"
                     class="form-danger">Email is required and format should be test@test.com.
                </div>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="Birthday" class="inner-title">Date of Birth:</label>
                </div>
                <input id="Birthday" type="text" matInput [matDatepicker]="Birthday"
                       class="registration-block__field__input" [(ngModel)]="model.Birthday"
                       #Birthday="ngModel" name="Birthday" (click)="Birthday.open()"/>
                <mat-datepicker #Birthday style="display: none"></mat-datepicker>
            </div>
            <div class="registration-block__left__field add-info">
                <div class="registration-block__field__title">
                    <label for="universityFirst" class="inner-title required-field">Primary
                        School:
                        <span class="div-tooltip"
                              matTooltip="Primary School is required."
                              [matTooltipPosition]="'after'"></span>
                    </label>
                </div>
                <select id="universityFirst" [(ngModel)]="university.UniversityFirstId"
                        #UniversityFirstId="ngModel"
                        name="UniversityFirstId" class="select" (ngModelChange)="toFirstFaculty($event)"
                        [ngClass]="{ 'has-error': UniversityFirstId.invalid && (form.submitted || UniversityFirstId.touched || UniversityFirstId.dirty)}"
                        required>
                    <option selected disabled>Choose a primary School</option>
                    <option *ngFor="let universityFirst of universities" [ngValue]="universityFirst">
                        {{universityFirst.Name}}
                    </option>
                </select>
                <div *ngIf="UniversityFirstId.invalid && (form.submitted || UniversityFirstId.touched || UniversityFirstId.dirty)"
                     class="form-danger">Primary School is required.
                </div>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="universityFaculty" class="inner-title">Faculty:</label>
                </div>
                <select id="universityFaculty" [(ngModel)]="university.UniversityFirstFacultyId"
                        #UniversityFirstFacultyId="ngModel"
                        name="UniversityFirstFacultyId" class="select">
                    <option selected disabled>Choose a faculty</option>
                    <option *ngFor="let facultyFirst of facultiesFirst" [ngValue]="facultyFirst">
                        {{facultyFirst.Name}}
                    </option>
                </select>
            </div>
            <div class="registration-block__left__field top-spacing add-info">
                <div class="registration-block__field__title">
                    <label for="secondSchool" class="inner-title">
                        Second School:
                        <span class="div-tooltip"
                              matTooltip="Second School."
                              [matTooltipPosition]="'after'"></span>
                    </label>
                </div>
                <select id="secondSchool" [(ngModel)]="university.UniversitySecondId"
                        #UniversitySecondId="ngModel"
                        name="UniversitySecondId" class="select" (ngModelChange)="toSecondFaculty($event)">
                    <option selected disabled>Choose a primary School</option>
                    <option *ngFor="let universityFirst of universities" [ngValue]="universityFirst">
                        {{universityFirst.Name}}
                    </option>
                </select>
            </div>
            <div class="registration-block__left__field">
                <div class="registration-block__field__title">
                    <label for="secondFaculty" class="inner-title">Faculty:</label>
                </div>
                <select id="secondFaculty" [(ngModel)]="university.UniversitySecondFacultyId"
                        #UniversitySecondFacultyId="ngModel"
                        name="UniversitySecondFacultyId" class="select">
                    <option selected disabled>Choose a faculty</option>
                    <option *ngFor="let facultySecond of facultiesSecond" [ngValue]="facultySecond">
                        {{facultySecond.Name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="registration-block__photo">
            <p class="registration-block__photo__title">
                Photo
            </p>
            <div class="registration-block__photo__outer">
                <img class="registration-block__photo__inner" src="/assets/images/photo-sample.jpg">
            </div>
            <div class="registration__block__photo__select-button">
                <input type="file" name="file" id="file" class="inputfile"/>
                <label for="file">Choose a file</label>
            </div>
        </div>
        <div class="registration-block__signup bottom-spacing">
            <div>
                <input type="checkbox" name="isActive" class="terms-checkbox" id="terms-checkbox"
                       [(ngModel)]="checkbox.isActive"
                       #isActive="ngModel" disabled={{!isRead}}/>
                <label for="terms-checkbox" class="terms-checked-value ">
                    <span [ngClass]="{'disabledcheckbox':!isRead}"></span> - I agree with
                </label>
                <span class="terms-popup-link maincolored" (click)="openPopup()">Terms and Conditions</span>
            </div>
            <button [disabled]="!checkbox.isActive" type="submit"
                    class="registration-block__signup-button maincolor-background"
                    [ngClass]="{'disabled': !checkbox.isActive}">
                SIGN UP
                <mat-spinner class="upload-spinner" *ngIf="isSpinner"></mat-spinner>
            </button>
            <span class="registration-block__reset-form" (click)="form.reset()">Clear form</span>
        </div>
    </form>

    <div class="terms-popup-window">
    </div>
</div>