.form-danger {
    position: absolute;
    top: 45px;
    right: 0;
    font-size: 12px;
    color: #c91d12;
    flex-direction: column;
    align-items: flex-end !important;
}

.select {
    width: 100%;
    text-overflow: ellipsis;
    line-height: 1.25;
    background-clip: padding-box;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    font-family: inherit;
    font-size: inherit;
    color: #666666;
    padding: 0 25px 0 10px;
    border: 1px solid #cccccc;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.disabledcheckbox {
    cursor:not-allowed !important;
}

@media (max-width:520px) {
	.select[_ngcontent-c2]{
		top:87%;
		left:0;
	}
}