<section class="admin-panel-wrapper">
    <div class="page-wrapper">
        <div class="admin-panel">
            <a [routerLink]="['orders']" routerLinkActive="selected-admin-panel" class="admin-panel__item">Orders</a>
            <a [routerLink]="['rates']" routerLinkActive="selected-admin-panel" class="admin-panel__item">Rates</a>
            <a [routerLink]="['universities']" routerLinkActive="selected-admin-panel" class="admin-panel__item">University</a>
            <a [routerLink]="['administrators-list']" *hasRole="['1']" routerLinkActive="selected-admin-panel"
               class="admin-panel__item">University Admins</a>
            <a [routerLink]="['library']" routerLinkActive="selected-admin-panel" class="admin-panel__item">File
                Library</a>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
