.admin-panel-wrapper {
    padding: 30px 0 33px 0;
    background: url('../../../assets/images/dark-border-background.png') bottom no-repeat;
    margin-bottom: -3px;
}

.admin-panel {
    font-size: 21px;
    color: #666666;
    display: flex;
    justify-content: center;
}

.admin-panel__item {
    padding: 5px 20px;
    color: #666666;
    cursor: pointer;
}

.selected-admin-panel {
    background-color: #28baf1;
    border-radius: 25px;
    color: white;
}
