<div>
    <div class="login-rejected-popup__top dashed-repeating-gradient">
        <div class="login-rejected-popup__title darkgrey-colored">
            Add University Admin
        </div>
        <div class="cross-container" (click)="closePopup()"></div>
    </div>
    <form #form="ngForm" novalidate
          (ngSubmit)="form.form.valid && send()">
        <div class="login-rejected-popup__inner dashed-repeating-gradient">
            <div class="flex">
                <div class="col col-6">
                    <div class="login-rejected-popup__userinfo">
                        <div class="user-title__wrapper">
                            <label for="NameEnglish" class=" login-rejected-label">Name</label>
                        </div>
                        <input id="NameEnglish" name="NameEnglish" class="login-rejected-input" #NameEnglish="ngModel"
                               [(ngModel)]="model.NameEnglish" type="text"/>
                    </div>
                    <div class="login-rejected-popup__userinfo ">
                        <div class="user-title__wrapper">
                            <label for="NameHebrew" class=" login-rejected-label">שֵׁם</label>
                        </div>
                        <input name="NameHebrew" #NameHebrew="ngModel" type="text"
                               id="NameHebrew"
                               class="login-rejected-input"
                               [(ngModel)]="model.NameHebrew"
                               [ngClass]="{'has-error': NameHebrew.invalid && (form.submitted || NameHebrew.touched || NameHebrew.dirty)}"
                               required/>
                    </div>
                    <div class="login-rejected-popup__userinfo ">
                        <div class="user-title__wrapper">
                            <label for="SurnameEnglish" class=" login-rejected-label">Surname</label>
                        </div>
                        <input name="SurnameEnglish" #SurnameEnglish="ngModel" type="text"
                               id="SurnameEnglish"
                               class="login-rejected-input"
                               [(ngModel)]="model.SurnameEnglish"/>
                    </div>
                    <div class="login-rejected-popup__userinfo">
                        <div class="user-title__wrapper">
                            <label for="SurnameHebrew" class=" login-rejected-label">שם משפחה</label>
                        </div>
                        <input id="SurnameHebrew" name="SurnameHebrew" class="login-rejected-input"
                               #SurnameHebrew="ngModel"
                               [(ngModel)]="model.SurnameHebrew" required type="text"
                               [ngClass]="{'has-error': SurnameHebrew.invalid && (form.submitted || SurnameHebrew.touched || SurnameHebrew.dirty)}"/>
                    </div>

                    <div class="login-rejected-popup__userinfo">
                        <div class="user-title__wrapper">
                            <label for="Position" class="login-rejected-label">
                                Position
                                <span class="div-tooltip"
                                      matTooltip="Position is required"
                                      [matTooltipPosition]="'after'"></span>
                            </label>
                        </div>
                        <input name="Position" #Position="ngModel" type="text"
                               id="Position"
                               class="login-rejected-input"
                               [(ngModel)]="model.Position"
                               [ngClass]="{'has-error': Position.invalid && (form.submitted || Position.touched || Position.dirty)}"
                               required/>
                        <div *ngIf="Position.invalid && (form.submitted || Position.touched || Position.dirty)"
                             class="form-danger">
                            Position is required
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo">
                        <div class="user-title__wrapper">
                            <label for="PhoneWork" class=" login-rejected-label multilined-label">
                                Phone
                            </label>
                        </div>
                        <input name="PhoneWork" #PhoneWork="ngModel" type="text"
                               id="PhoneWork"
                               class="login-rejected-input"
                               [(ngModel)]="model.PhoneWork"
                               pattern="[+,\-,0-9]+"
                               [ngClass]="{'has-error': PhoneWork.invalid && (form.submitted || PhoneWork.touched || PhoneWork.dirty)}"
                               required/>
                        <div *ngIf="PhoneWork.invalid && (form.submitted || PhoneWork.touched || PhoneWork.dirty)"
                             class="form-danger">
                            Phone is required. Numbers only.
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo">
                        <div class="user-title__wrapper">
                            <label for="PhoneMobile" class=" login-rejected-label multilined-label">
                                Mobile phone
                            </label>
                        </div>
                        <input name="PhoneMobile" #PhoneMobile="ngModel" type="text"
                               id="PhoneMobile"
                               class="login-rejected-input"
                               [(ngModel)]="model.PhoneMobile"
                               pattern="[+,\-,0-9]+"
                               [ngClass]="{'has-error': PhoneMobile.invalid && (form.submitted || PhoneMobile.touched || PhoneMobile.dirty)}"
                               required/>
                        <div *ngIf="PhoneMobile.invalid && (form.submitted || PhoneMobile.touched || PhoneMobile.dirty)"
                             class="form-danger">
                            Mobile phone is required. Numbers only.
                        </div>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="login-rejected-popup__userinfo">
                        <div class="user-title__wrapper">
                            <label for="Email" class="login-rejected-label">Email</label>
                        </div>
                        <input name="Email" #Email="ngModel" id="Email"
                               class="login-rejected-input" [(ngModel)]="model.Email"
                               [ngClass]="{ 'has-error': Email.invalid && (form.submitted || Email.touched || Email.dirty)}"
                               type="email" [email]="true" required/>
                        <div *ngIf="Email.invalid && (form.submitted || Email.touched || Email.dirty)"
                             class="form-danger">Email is required and format should be test@test.com.
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo ">
                        <div class="user-title__wrapper">
                            <label for="Birthday" class="login-rejected-label">Date of Birth</label>
                        </div>
                        <input name="Birthday" #Birthday="ngModel" id="Birthday" type="text"
                               class="login-rejected-input" [(ngModel)]="model.Birthday"
                               [ngClass]="{ 'has-error': Birthday.invalid && (form.submitted || Birthday.touched || Birthday.dirty)}"
                               matInput [matDatepicker]="Birthday"
                               (click)="Birthday.open()"
                               required/>
                        <mat-datepicker #Birthday style="display: none"></mat-datepicker>
                        <div *ngIf="Birthday.invalid && (form.submitted || Birthday.touched || Birthday.dirty)"
                             class="form-danger">Date of Birth is required.
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo align-items-start">
                        <div class="user-title__wrapper">
                            <label for="CabinetLocation" class="login-rejected-label">
                                Cabinet
                                <span class="div-tooltip"
                                      matTooltip="Cabinet is required."
                                      [matTooltipPosition]="'after'"></span>
                            </label>
                        </div>
                        <textarea name="CabinetLocation" #CabinetLocation="ngModel" id="CabinetLocation"
                                  class="login-rejected-input height113"
                                  [ngClass]="{'has-error': CabinetLocation.invalid && (form.submitted || CabinetLocation.touched || CabinetLocation.dirty)}"
                                  [(ngModel)]="model.CabinetLocation" required>
                        </textarea>
                        <div *ngIf="CabinetLocation.invalid && (form.submitted || CabinetLocation.touched || CabinetLocation.dirty)"
                             class="form-danger">Cabinet is required.
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo align-items-start">
                        <div class="user-title__wrapper">
                            <label for="Commentary" class="login-rejected-label">Notes</label>
                        </div>
                        <input name="Commentary" #Commentary="ngModel" type="text" id="Commentary"
                               class="login-rejected-input"
                               [ngClass]="{'has-error': Commentary.invalid && (form.submitted || Commentary.touched || Commentary.dirty)}"
                               [(ngModel)]="model.Commentary" required/>
                        <div *ngIf="Commentary.invalid && (form.submitted || Commentary.touched || Commentary.dirty)"
                             class="form-danger">Notes is required.
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo align-items-start">
                        <div class="user-title__wrapper">
                            <label for="UniversityId" class="login-rejected-label">University</label>
                        </div>
                        <select id="UniversityId" [(ngModel)]="model.UniversityId"
                                [ngClass]="{'has-error': UniversityId.invalid && (form.submitted || UniversityId.touched || UniversityId.dirty)}"
                                #UniversityId="ngModel" class="login-rejected-input" name="UniversityId" required>
                            <option class="login-rejected-input" *ngFor="let university of universities"
                                    [value]="university.Id">
                                {{university.Name}}
                            </option>
                        </select>
                        <div *ngIf="UniversityId.invalid && (form.submitted || UniversityId.touched || UniversityId.dirty)"
                             class="form-danger">UniversityId is required.
                        </div>
                    </div>
                    <div class="login-rejected-popup__userinfo align-items-start">
                        <div class="user-title__wrapper">
                            <label for="Password" class="login-rejected-label">Password</label>
                        </div>
                        <input name="Password" #Password="ngModel" id="Password"
                               class="login-rejected-input" [(ngModel)]="model.Password"
                               [ngClass]="{ 'has-error': Password.invalid && (form.submitted || Password.touched || Password.dirty)}"
                               type="password" required/>
                        <div *ngIf="Password.invalid && (form.submitted || Password.touched || Password.dirty)"
                             class="form-danger">Password is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashed"></div>
            <div class="flex padding">
                <div class="col col-6">
                    <input type="checkbox" name="TradeUnionCommittee" class="terms-checkbox" id="TradeUnionCommittee"
                           [(ngModel)]="model.TradeUnionCommittee"/>
                    <label for="TradeUnionCommittee" class="mleft-auto align-flex-start labelL">
                        <span class="mright-0"></span> - Trade union committee
                    </label>
                </div>
                <div class="col col-6">
                    <input type="checkbox" name="Approved" class="terms-checkbox" id="Approved"
                           [(ngModel)]="model.Approved"/>
                    <label for="Approved" class="mleft-auto align-flex-start labelL">
                        <span class="mright-0"></span> - Approved
                    </label>
                </div>
            </div>
        </div>
        <div class="login-rejected-popup__inner">
            <div class="login-rejected-popup__buttons">
                <span class="maincolored forgot-password-styled pointer" (click)="closePopup()">Cancel</span>
                <span class="maincolored forgot-password-styled pointer pad-left"
                      (click)="form.reset()">Clear form</span>
                <div class="buttons__wrapper">
                    <button type="submit" class="add-university__ok-button button-maincolor">OK</button>
                </div>
                <mat-spinner class="upload-spinner" *ngIf="isSpinner"></mat-spinner>
            </div>
        </div>
    </form>
</div>
