textarea {
    resize: none;
    padding-left: 10px;

}

input, textarea {
    color: #999999;
    border: 1px solid #cccccc;
}

.login-rejected-popup__buttons span:not(:first-of-type) {
    margin-left: 45px;
}

.add-university__ok-button {
    font-family: inherit;
    cursor: pointer;
    margin-left: 15px;
    padding: 15px 50px;
    font-size: 30px;
    border-radius: 28px;
    border: none;
}

.multilined-label {
    align-self: flex-start;
    margin-top: 20px;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.col-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.height113 {
    height: 113px;
}

.height182 {
    height: 182px;
}

.login-rejected-popup__inner {
    overflow: hidden;
}

.login-rejected-input {
    padding: 10px;
}

.align-items-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.labelL {
    padding-left: 145px;
}

.dashed {
    position: relative;
}

.padding {
    padding-bottom: 10px;
    padding-top: 30px;
}

.dashed::after {
    position: absolute;
    bottom: 0;
    left: -500%;
    width: 1000%;
    content: "";
    height: 1px;
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAQAAABN/Pf1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhChEKOgZyhLRGAAAAGElEQVQI12Nc48K4+79y8D0GKFi3m+EeAEa3Bkjn/tXZAAAAAElFTkSuQmCC");
}

.add-university__ok-button.disabled {
    color: #666666;
    background-color: #e7e7e7;
}